[flydra]
Package: python-flydra
Build-Depends: python-motmotutils
Depends: python-setuptools, pyro, python-numpy
XS-Python-Version: 2.5
# for camera node: python-realtimeimageanalysis, python-camiface, python-ctypes, python-flymovieformat, python-camiface, python-posixsched, python-scipy, python-imops
# for mainbrain server node: python-tables, python-adskalman, python-pylibusb, python-wxglvideo, python-scipy, python-posixsched, python-matplotlib, python-opengl
# for analysis: python-enthought-tool-suite
