setuptools>=44.1
numpy>=1.13
cython>=0.26

multicamselfcal
progressbar
motmot.FlyMovieFormat
motmot.ufmf
motmot.imops

# conda or system packages: pycairo, pandas, h5py, flydra_core, traits, traitsui, pillow, aggdraw
