<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{asset_path}}/style/main.css" type="text/css">
  </head>
  <body>
    <div id="header">
      <div id="account"><img src="{{asset_path}}/images/Spinning_wheel_throbber.gif" width="32" height="32"></div>
      <h1><a href="{{ index }}">{{ title }}</a></h1>
    </div>
    <div id="content">
      {{{ content }}}
    </div>
  </body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="/_utils/script/sha1.js"></script>
  <script src="{{asset_path}}/vendor/couchapp/jquery.couch.app.js"></script>

  <script src="{{asset_path}}/vendor/couchapp/jquery.couch.app.util.js"></script>
  <script src="{{asset_path}}/vendor/couchapp/jquery.evently.js"></script>
  <script src="{{asset_path}}/vendor/couchapp/jquery.pathbinder.js"></script>
  <script src="{{asset_path}}/vendor/couchapp/jquery.mustache.js"></script>
  <script src="{{asset_path}}/script/app.js"></script>
</html>
