<launch>
	<arg name="guidlist" default='all' />
	<arg name="emulation-imagesources" default='None' />
	
    <node name="$(anon camnode)" pkg="camnode" type="camnode.py" args="--show-cam-details --guidlist=$(arg guidlist) --emulation-imagesources=$(arg emulation-imagesources)" >
        <param name="dir_yaml" value="$(find camnode)/yaml" />
    </node>
   
</launch>
