{% extends "site_base.html" %}

{% block extra_head %}
<script type="text/javascript" src="/site_media/static/pinax/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
js_client_info_global = {{ js_client_info|safe }}
</script>
<script type="text/javascript" src="/site_media/static/fwa/js/apply_analysis_type.js"></script>
{% endblock %}

{% load i18n %}

{% block head_title %}Apply analysis type - {{name}}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<a href="../..">(Go back to dataset view.)</a>

{% if success_message %}
<div class="success-message">Success : {{success_message}}</div>
{% endif %}

<h2>Apply analysis type - {{name}}</h2>

{% if error_message %}
<div class="error-message">Error : {{error_message}}</div>
{% endif %}

<div id="fwa_jq_div"></div>

<form action="{{this_path}}" method="POST">
  {{ form.as_p }}

<input type="submit" value="Submit" />
</form>

{% endblock %}
