{% extends "site_base.html" %}

{% block extra_head %}
<script type="text/javascript" src="/site_media/static/pinax/js/jquery-1.3.2.min.js"></script>
{% endblock %}

{% load i18n %}

{% block head_title %}Apply analysis type - {{name}}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<h2>Apply analysis type - {{name}}</h2>

{% if error_message %}
<div class="error-message">Error : {{error_message}}</div>
{% endif %}

<form action="{{this_path}}" method="POST">
  {{ form.as_p }}

<input type="submit" value="Submit" />
</form>

{% endblock %}
