{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Cluster administration{% endblock %}
{% block extra_head %}<link rel="stylesheef" href="{{ STATIC_URL }}fwa/css/fwa-docs.css" />{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<h1>Cluster administration</h1>

Cluster: {{name}}

{% if is_ec2 %}

<p>
This EC2 based cluster costs money to run!
See <a href="http://aws.amazon.com/ec2/pricing/">the AWS EC2 pricing
page</a>.

{% endif %}

<p>
{% if is_running %}
This cluster is running with {{num_nodes}} node{{num_nodes|pluralize}} active. <ul>
  <li><a href="{{stop_cluster_url}}">stop cluster</a></li>
  <li>return to <a href="..">dataset view</a></li>
</ul>
{% else %}
This cluster is not running.
<form action="../cluster_admin/" method="POST">
{{ form.as_p }}
<input type="submit" value="Start cluster" />
</form>

Note: please be patient once you click "Start cluster" - it can take
many minutes for the cluster to come up.

<p>

Return to <a href="..">dataset view</a>.

{% endif %}

{% endblock %}
