{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{row.id}}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<a href="../..">(Go back to dataset view.)</a>

<h1>data node {{row.id}}</h1>

{% if warn_no_specific_view %}
<strong>Warning: no specific view for this document, showing a generic datanode view.</strong>
{% endif %}

{% if images %}
<p>Images:
<ul>
  {% for image in images %}
    <li><img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{image.fname}}"/></li>
  {% endfor %}
</ul>
</p>
{% endif %}

<p>Status tags: {{row.value.status_tags}}</p>
<p>Properties: {{row.value.properties}}</p>
<p>Dataset: {{row.value.dataset}}</p>
<p>Start time: {{row.value.start_time}}</p>
<p>Stop time: {{row.value.stop_time}}</p>
<p>Sources:
<ul>
  {% for source in row.value.sources %}
    <li><a href="{{doc_url}}{{source}}">{{source}}</a></li>
  {% endfor %}
</ul>
</p>
<p>Raw:
<pre>
{{raw_value}}
</pre>
</p>
{% endblock %}
