{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{property_name}} data nodes{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="{{ STATIC_URL }}fwa/css/fwa-docs.css" />{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<div class="fwa_nav_link"><a href="../..">(Go back to dataset view.)</a></div>

<h2>{{ property_name }} data nodes</h2>

<div class="pagination">
  <span class="step-links">
    {% if items.has_previous %}
      <a href="?page={{ items.previous_page_number }}">previous</a>
    {% endif %}
      
    <span class="current">
      Page {{items.number}} of {{items.paginator.num_pages}}.
    </span>

    {% if items.has_next %}
      <a href="?page={{ items.next_page_number }}">next</a>
    {% endif %}

    <ul>
    {% for item in items.object_list %}
      <li> <a href="{{doc_url}}{{item.id}}">node</a> ({{ item.value.start_time }} - {{ item.value.stop_time }})
      </li>
    {% endfor %}
    </ul>

  </span>
</dev>


{% endblock %}
