{% extends "site_base.html" %}

{% block head_title %}analysis{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="{{ STATIC_URL }}fwa/css/fwa-docs.css" />{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<div class="fwa_nav_link"><a href="../..">(Go back to dataset view.)</a></div>

<div class="datanode_title">h5 file (document id: {{id}})</div>

<div class="time_range"><p>{{ time_range }}</p></div>

{% if saved_images %}
<p>Movies:
<ul>
  {% for vid in saved_images %}
    <li>(Click this <a href="{{vid.url}}">link</a> to download.)
      <video controls height="{{vid.height}}" width="{{vid.width}}">
      <source src="{{vid.url}}" type="video/ogg"></source>
      Sorry, your browser does not support the <pre>video</pre> tag with Ogg videos. (Use Firefox or Chrome).
    </video></li>
  {% endfor %}
</ul>
</p>
{% endif %}


<pre>{{raw}}</pre>

{% endblock %}
